@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html {
  scroll-behavior: smooth;
}
 
:target {
  scroll-margin-top: 0.1em;
}

body {
    font-family: 'Alata', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FFF5CC;
    width: 100%;
    line-height: 50px;
}

body::-webkit-scrollbar {
    width: 5px;              
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        
  }
  
 body::-webkit-scrollbar-thumb {
    background-color:  #004AAD;
    border-radius: 20px;      
    color: #004AAD;
    border: 1px solid; 
  }
 

h1 {
    font-size: 55px;
    color: #004AAD;
    
}

p, li {
   color: #004AAD;
   font-size: 22px;
}

img, button {
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px rgba(5,0,0,0.1);
}

img:hover, button:hover {
    transform: scale(1.01) ;
    -webkit-transform: scale(1.01) ;
    -moz-transform: scale(1.01) ;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.header-container {
   width: 100%;
   cursor: pointer;
}

.header-container img {
    width: 100%;
    transform: none;
}

.header-container img:hover {
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px rgba(5,0,0,0.1);
}

section {
    width: 100%;
}

.projeto-container {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 70px 30px;
}

.projeto-texto.first-block {
    padding: 0px 55px 35px 55px;
}

.projeto-texto.second-block {
    padding: 30px 55px 35px 55px;
}

.img-projeto {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
}

.img-projeto img {
    width: 99%;
   
}

.img-projeto p {
    writing-mode: vertical-rl;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.etapas-container {
    padding-top: 30px;
    padding: 40px 30px 70px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.etapas-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 55px;
}

.etapas-text li {
    font-size: 22px;
}

.etapasimg-container {
    width: 85%;
    padding-left: 45px;
    padding-right: 45px;
    
}

.etapasimg-container img {
    width: 100%;
    margin-top: 70px;
}

.formulario-container {
    background-color: #004AAD;
    padding: 30px 30px 50px 30px;
}

.formulario-container h1 {
    text-align: center;
}

.formulario-container h1, .formulario-container p {
    color: white;
}

.form-img-container, .vakinha-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.form-img {
    width: 80%;
    padding-left: 55px;
}

.form-img img {
    width: 90%;
    border-radius: 25px;
    box-shadow: none;
}

.form-text {
    padding-right: 55px;
}

.form-text p {
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none; 
  }

  button {
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-form-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn-form {
    color: #004AAD;
    background-color: #C9E265;
  }

  button.btn-form:hover {
    color:   #6FBD4E;
    background-color: #FFF5CC;
  }

  .vakinha-container h1 {
    text-align: center;
  }

  .vakinha-container {
    background-color: #FDE9A6;
    padding: 30px 30px 30px 30px;
  }

  .vakinha-text {
    padding-left: 55px;
    padding-right: 30px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .vakinha-text p {
    font-size: 22px;
    text-align: center;
  }

  .vakinha-img {
    width: 45%;
    padding-top: 0px;
    padding-right: 50px;
    cursor: pointer;
  }

  .vakinha-img img {
    width: 100%;
  }

  button.btn-vakinha {
    color: #004AAD;
    background-color: #C9E265;
  }

  button.btn-vakinha:hover {
    color:  #C9E265;
    background-color: #004AAD;
  }

.receba-container {
    padding-top: 30px;
    padding: 30px 30px 30px 30px;
    background-color: #FDE9A6;
}

.receba-container h1 {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    gap: 20px;
    cursor: pointer;
}

.cards-container img {
    width: 100%;
}

.cards-container p {
    width: 100%;
    height: 70px;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

.card-esquerda, .card-centro, .card-direita {
    width: 30%;
}

.card-img {
    height: auto;
}

.galeria-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 30px;
    width: 100%;
    padding: 30px 30px 30px 30px;
}

.galeria-container img {
    width: 50%;
}

@media screen and (min-width: 1920px) {
    header, .main-container {
        max-width: 1920px;
    }

    body {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        justify-items: center !important;
        align-items: center !important;
    }
}

@media screen and (min-width: 798px) and (max-width: 1182px) {
    header, .main-container {
        max-width: 1182px;
    }

    body {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        justify-items: center !important;
        align-items: center !important;
    }
}

 .hidden-xl {
      display: none;
 }

 .footer {
    width: 100%;
 }

 .rodape-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004AAD;
    gap: 20px;
    padding: 0px 20px 0px 20px;
 }

 .instagram {
    display: flex;
    gap: 8px;
 }
 
 .instagram img {
    box-shadow: none;
    border-radius: 0px;
    width: 8%;
 }

 .rodape-wrapper p {
    color: white;
    font-size: 18px;
 }



